---

---

<div>
  <a
    href="https://www.linkedin.com/in/johannbierman"
    target="_blank"
    rel="noopener noreferrer"
    class="text-base underline hover:text-charcoal hover:no-underline"
  >
    LinkedIn
  </a>
</div>
