---

---

<section class="space-y-6">
  <h1 class="text-3xl font-bold text-charcoal">About Me</h1>
  <p class="text-base">
    I&apos;m a&#32;<span class="font-bold">full stack developer</span>&#32;with
    a passion for technology and problem-solving.&#32;
    <br class="hidden lg:block" />
    Proficient in multiple programming languages, I specialize in&#32;
    <span class="font-bold">Next.js</span>&#32;and&#32;
    <span class="font-bold">Flutter</span>&#32;frameworks.
  </p>
  <p class="text-base">
    With expertise across both frontend and backend development — covering
    DevOps, system architecture,&#32;<br class="hidden lg:block" />project
    management, AI, and more —
    <span class="font-bold"
      >I deliver impactful solutions at every stage of a project.</span
    >
  </p>
</section>
