---
import LinkedInTextLink from "@components/links/LinkedInTextLink.astro";
---

<section class="space-y-6">
  <h1 class="text-3xl font-bold text-charcoal">Contact Me</h1>
  <p class="text-base">
    <span class="font-bold"
      >Need a skilled software developer for your next project?</span
    >&#32; <br class="hidden lg:block" />Let&apos;s connect if you&apos;re
    looking for a results-driven developer!
  </p>
  <LinkedInTextLink />
</section>
