---
import GitHubLogoLink from "@components/links/GitHubLogoLink.astro";
import TextLink from "@components/links/TextLink.astro";
import NameDisplay from "@components/NameDisplay.astro";
import LandingLayout from "@layouts/LandingLayout.astro";

const title = "Johann Bierman";
const ogMetadata = {
  url: "https://johannbierman.github.io",
  title: "Johann Bierman - Software Developer Portfolio",
};
---

<LandingLayout title={title} ogMetadata={ogMetadata}>
  <div class="flex flex-col items-center">
    <NameDisplay />
    <nav class="flex flex-row items-center space-x-4 sm:space-x-8 mt-4 sm:mt-8">
      <TextLink href="/work">Work</TextLink>
      <TextLink href="/about">About</TextLink>
      <TextLink href="/contact">Contact</TextLink>
      <GitHubLogoLink className="size-6" />
    </nav>
  </div>
</LandingLayout>
