---

---

<div class="flex flex-col items-center p-2 rounded-xl bg-softWhite">
  <h1 class="text-3xl sm:text-4xl uppercase text-center">
    <span class="block tracking-[.24em]">
      <span class="mr-2 p-2">Johann</span>Bierman
    </span>
    <span class="block font-bold">Software Developer</span>
  </h1>
</div>
